<li class="list-inline-item d-lg-none text-right bag-link">
    <a class="text-white nav-link" href="{% url 'view_bag' %}">
        <i class="fas fa-shopping-bag"></i>
        <span class="d-lg-none">{% if product_count %}{{ product_count }}{% endif %}</span>
    </a>
  {% if product_count %}
    {% if product_count > 99 %}
      <div class="notification d-none d-lg-block m-0 position-absolute text-white"></div>
    {% else %}
    <div class="notification notification-small d-none d-lg-block m-0 position-absolute text-white">
      {{product_count}}
    </div>
    {% endif %}
  {% endif %}
</li>